<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    <!-- application CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="notice.css">
  
</head>

<div id="notice_view">
<!-- Contenedor -->
	<ul id="accordion" class="accordion row justify-content-center">
	  <li class="col-12 col-md-10 col-lg-10">
	  	<% $notices.each do |p| %>
	  	<div class="link"><%=p.title%><i class="fa fa-chevron-down">▴</i></div>
    	    <ul class="submenu">
    	    	
    	        <li><b>신고내역</b><br>
    			<%=p.report_station%>
    			
    			<li><b>답변</b><br>
				<div class="content_text_form"><%=p.content%></div></li>
				
    			<br>
    			<center><a href="http://www.seoulmetro.co.kr/kr/vocList.do?menuIdx=376&cdvocchannel=1" target="_blank"><b>전문 확인하기</b></a></center><br>
    		  </li>
    	    </ul>
	    <%end%>
	  </li>
	</ul>

</div>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
	<script>
		$(function() {
			var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;
				// Variables privadas
				var links = this.el.find('.link');
				// Evento
				links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
			}
			Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
					$this = $(this),
					$next = $this.next();
				$next.slideToggle();
				$this.parent().toggleClass('open');
				if (!e.data.multiple) {
					$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
				};
			}	
			var accordion = new Accordion($('#accordion'), false);
		});
	</script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>